# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.nuget/nuget.exe
/.vs
/Drapper/bin/Debug
/Drapper/bin/Debug/Dapper.dll
/packages
*.ncrunchproject
*.ncrunchproject
*.ncrunchsolution
*.user
/_NCrunch_Drapper
/Drapper/bin/Release
/Drapper/obj
*.cache
/Drapper.Connectors/obj
/Drapper.Connectors.Databases/obj
/Drapper.Connectors.Databases.SqlServer/obj
/Drapper.Connectors.Databases.SqlServer.Unit.Tests/obj
/Drapper.Tests/obj
/Drapper.Connectors.Databases.Unit.Tests/obj
/Drapper.Databases/obj
/Drapper.Readers/obj
/Drapper.Readers.Databases/obj
/Drapper.Tests.Setup.SqlServer/obj
/Drapper.Tests.Models/obj
/Drapper.Tests.Common/obj
/Drapper.Settings.Databases.Unit.Tests/obj
/Drapper.Readers.Databases.Unit.Tests/obj
/Drapper.Settings/obj
/Drapper.Settings.Databases/obj
/Drapper.Connectors/bin/Debug/netstandard2.0
/Drapper.Connectors.Databases/bin/Debug/netstandard2.0
/Drapper.Connectors.Databases.SqlServer/bin/Debug/netstandard2.0
/Drapper.Connectors.Databases.SqlServer.Unit.Tests/bin/Debug/netcoreapp2.0
/Drapper.Connectors.Databases.Unit.Tests/bin/Debug/netcoreapp2.0
/Drapper.Databases/bin/Debug/netstandard2.0
/Drapper.Readers/bin/Debug/netstandard2.0
/Drapper.Readers.Databases/bin/Debug/netstandard2.0
/Drapper.Readers.Databases.Unit.Tests/bin/Debug/netcoreapp2.0
/Drapper.Settings/bin/Debug/netstandard2.0
/Drapper.Settings.Databases/bin/Debug/netstandard2.0
/Drapper.Settings.Databases.Unit.Tests/bin/Debug/netcoreapp2.0
/Drapper.SqlServer/bin/Debug/netstandard2.0
/Drapper.SqlServer/obj
/Drapper.SqlServer.Tests/bin/Debug/netcoreapp2.0
/Drapper.SqlServer.Tests/obj
/Drapper.Tests/bin/Debug/netcoreapp2.0
/Drapper.Tests.Common/bin/Debug/netstandard2.0
/Drapper.Tests.Models/bin/Debug/netstandard2.0
/Drapper.Tests.Setup/bin/Debug/netcoreapp2.0
/Drapper.Tests.Setup/obj
/Drapper.Tests.Setup.SqlServer/bin/Debug/netcoreapp2.0
