# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.nuget/nuget.exe
/.vs
/Drapper/bin/Debug
/Drapper/bin/Debug/Dapper.dll
/packages
*.ncrunchproject
*.ncrunchproject
*.ncrunchsolution
*.user
/_NCrunch_Drapper
/Core/Common/Drapper/bin/Debug
/Core/Common/Drapper/obj
/Core/Common/Drapper.Connectors/bin/Debug
/Core/Common/Drapper.Connectors/obj
/Core/Common/Drapper.Readers/bin/Debug
/Core/Common/Drapper.Readers/obj
/Core/Common/Drapper.Settings/bin/Debug
/Core/Common/Drapper.Settings/obj
/Core/Databases/Drapper.Connectors.Databases/bin/Debug
/Core/Databases/Drapper.Connectors.Databases/obj
/Core/Databases/Drapper.Commanders.Databases/bin/Debug
/Core/Databases/Drapper.Commanders.Databases/obj
/Core/Databases/Drapper.Readers.Databases/bin/Debug
/Core/Databases/Drapper.Readers.Databases/obj
/Core/Databases/Drapper.Settings.Databases/bin/Debug
/Core/Databases/Drapper.Settings.Databases/obj
/Core/Tests/Common/Drapper.Tests.Common/bin/Debug/netstandard2.0
/Core/Tests/Common/Drapper.Tests.Common/obj
/Core/Tests/Common/Drapper.Tests.Models/bin/Debug/netstandard2.0
/Core/Tests/Common/Drapper.Tests.Models/obj
/Core/Tests/Databases/Drapper.Connectors.Databases.Unit.Tests/bin/Debug/netcoreapp2.0
/Core/Tests/Databases/Drapper.Connectors.Databases.Unit.Tests/obj
/Core/Tests/Databases/Drapper.Commanders.Databases.Integration.Tests/bin/Debug/netcoreapp2.0
/Core/Tests/Databases/Drapper.Commanders.Databases.Integration.Tests/obj
/Core/Tests/Databases/Drapper.Readers.Databases.Unit.Tests/bin/Debug/netcoreapp2.0
/Core/Tests/Databases/Drapper.Readers.Databases.Unit.Tests/obj
/Core/Tests/Databases/Drapper.Settings.Databases.Unit.Tests/bin/Debug/netcoreapp2.0
/Core/Tests/Databases/Drapper.Settings.Databases.Unit.Tests/obj
/MySql/Drapper.Connectors.Databases.MySql/bin/Debug/netstandard2.0
/MySql/Drapper.Connectors.Databases.MySql/obj
/MySql/Drapper.MySql/bin/Debug/netstandard2.0
/MySql/Drapper.MySql/obj
/MySql/Drapper.MySql.Integration.Tests/bin/Debug/netcoreapp2.0
/MySql/Drapper.MySql.Integration.Tests/obj
/SqlServer/Drapper.Connectors.Databases.SqlServer/bin/Debug
/SqlServer/Drapper.Connectors.Databases.SqlServer/obj
/SqlServer/Drapper.Connectors.Databases.SqlServer.Unit.Tests/bin/Debug/netcoreapp2.0
/SqlServer/Drapper.Connectors.Databases.SqlServer.Unit.Tests/obj
/SqlServer/Drapper.SqlServer/bin/Debug
/SqlServer/Drapper.SqlServer/obj
/SqlServer/Drapper.SqlServer.Tests/bin/Debug/netcoreapp2.0
/SqlServer/Drapper.SqlServer.Tests/obj
