<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Drapper" type="Drapper.Configuration.Xml.DrapperConfigurationSection, Drapper"/>
  </configSections>
  
  <Drapper>    
    <namespaces>
      <namespace namespace="Drapper.Tests.ConfigurationTests.Fully.Qualified">
        <types>
          <type name="Drapper.Tests.ConfigurationTests.Fully.Qualified.NamespaceA.With.Many.Different.Parts.TypeA">
            <commands>
              <command name="FallsBackToNamespace">
                <commandSetting commandText="select 'TypeA';"/>
              </command>
            </commands>
          </type>
        </types>
      </namespace>
      <namespace namespace="Drapper.Tests.ConfigurationTests.ConfigurationFileDefinitionParserTests">
        <types>
          <type name="Drapper.Tests.ConfigurationTests.ConfigurationFileDefinitionParserTests.GetCommand">
            <commands>
              <command name="ExplicitKey">
                <commandSetting commandText="select @Id [Result]" split="TestId" isolationLevel="ReadCommitted"/>
              </command>
            </commands>
          </type>
        </types>
      </namespace>      
      <namespace namespace="Drapper.Tests.Common">
        <connectionString providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\mssqllocaldb;Initial Catalog=DrapperTests;Integrated Security=true;"/>
        <types>
          <type name="Drapper.Tests.Common.TableHelper">
            <commands>
              <command name="CreateTable">
                <commandSetting commandText="dbo.usp_CreateTable" commandTimeout="30" commandType="StoredProcedure" flags="None" isolationLevel="RepeatableRead">                  
                </commandSetting>
              </command>
            </commands>
          </type>
        </types>
      </namespace>
    </namespaces>
  </Drapper>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
